<p>account-editor works!</p>
<h3>Times Clicked:</h3>{{timesClicked}}

<!-- this links two items together...just like ngModel 
myAccount refers to variable on account-form (child) and "account" refers to variable on account-editor (parent) -->
<!-- pass it through via attribute-->

<!-- when event is fired in account-form(child), account-editor (parent) will call a function ... showTimesClicked. Will only have ONE parent-->
<am-account-form [myAccount] = "account" (myEvent) = "showTimesClicked($event)"></am-account-form>

