<div class="container-fluid">
    <div class="row">
      <div class="col">
          <!--this links this form with the accountForm configured on the account-form component..pass this in as attribute-->
            <!-- ngSubmit will fire however the user submits (click "submit" or press Enter)-->
          <form [formGroup] = "accountForm" (ngSubmit) = "save()">
          <div class="form-group">
            <label for="name">Name</label>
            <!-- formControlName links this input with the "name" control key in account-form component-->
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName = "name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="sample@email.com" formControlName = "email" >
          </div>
          
          <!-- disabled will not allow button to be clicked when ANY form inputs are invalid -->
          <!-- dont have to specify the click event here because it is type = "submit". Because of ngSubmit above, it will run the save function when clicked-->
          <button type="submit" class="btn btn-primary" [disabled] = "accountForm.invalid" >Submit</button>
        </form>
      </div>
      <div class="col">
        <pre>{{ myAccount | json }}</pre>
        <pre>{{accountForm.value | json }}</pre>
      </div>
    </div>
  </div>
  <button (click)="buttonClicked()">Click me</button>
  <button (click)="cancel()">Cancel</button>
  <button (click)="reset()">Reset</button>

